/* header and body setup */
      html {
        font-family: 'Open Sans', sans-serif;
        background: url(images/pattern.png);
      }
      body {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        background-color: white;
        position: relative;
      }
      a {
        text-decoration: none;
      }
      nav ul {
        font-family: sans-serif;
        font-weight: bold;
        display: flex;
      }
      nav ul li {
        margin: 15px;
        font-family: sans-serif;
        font-size: 18px;
        list-style: none;
      }
      article {
        padding: 20px;
      }
      h2 {
        margin-top: 0;
      }
      p {
        line-height: 1;
      }
      .clearfix {
        clear: both;
      }
      .closing-image img {
        display: block;
        max-width: 100%;
        margin: 0 0 10px 0;
      }
